{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

    {% block body %}
    
        {# -----------------------
        ------ PRESENTATION ------
        ----------------------- #}

        <section id="presentation" class="container-fluid"> 
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="heading animate__animated animate__zoomIn">
                        <h1>Prénom</h1>
                        <h2>coach sportif</h2>
                        <a href="#contact" class="buttonHomePage">contact</a>
                    </div>
                </div>
            </div>
        </section>
       
        {# ----------------
        ------ ABOUT ------
        ---------------- #}

        <section id="about" class="headband container-fluid">
             <div class="col-md-12 text-center bg-success text-white">
                <div class="size-headband animate__animated animate__fadeInUp">
                    <h4 class="pb-2">a propos</h4>
                    <div class="divider"></div>
                    <p class="p-3"> diplômés et ayant une carte professionnelle de coach sportif. formation PSC1 (Prévention et secours civique niveau 1)</p>
                    <a href="#" class="buttonHomePage">en savoir plus sur moi</a>
                </div>
            </div> 
        </section>
        <section id="about-image">
            <div class="container">
                <div class="row">
                    <div class="pad-box-white col-md-6">
                        <div class="box-white text-center about-animation">
                            <div class="container">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-12">
                                         <h5>cours privé</h5>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-md-12">
                                        <p>
                                            Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez sur "Modifier Texte" ou double-cliquez ici pour ajouter votre contenu et personnaliser les polices.
                                        </p>
                                    </div>
                                </div> 
                                <div class="row justify-content-md-center">
                                    <div class="col-md-12">
                                        <p>tarif l'heure</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pad-box-green col-md-6">
                        <div class="box-green text-center bg-success text-white about-animation">
                            <div class="container">
                                <div class="row justify-content-md-center">
                                    <div class="col-md-12">
                                        <h5>cours collectif</h5>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-md-12">
                                        <p>
                                            Paragraphe. Cliquez ici pour ajouter votre propre texte. Cliquez sur "Modifier Texte" ou double-cliquez ici pour ajouter votre contenu et personnaliser les polices.
                                        </p>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center">
                                    <div class="col-md-12">
                                        <p>tarif l'heure</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
                <div class="row">
                    <div class="dispo col-md-12 text-center">
                        <button class="buttonHomePage ">voir les disponibilités</button>                                                                                         
                    </div>
                </div>                  
            </div>
        </section>
        

        {# ----------------
        ----- SERVICE -----
        ---------------- #}

        <section id="service" class="headband container-fluid">
             <div class="col-md-12 text-center bg-success text-white">
                <div class="size-headband">
                    <h4 class="pb-2">Services proposés</h4>
                    <div class="divider"></div>
                    <p class="p-3"> diplômés et ayant une carte professionnelle de coach sportif. formation PSC1 (Prévention et secours civique niveau 1)</p>
                    <a href="{{path ('reserve') }}" class="buttonHomePage">réservé</a>
                </div>
            </div> 
        </section>
        <section id="service-image">
            <a href="{{ path('reserve') }}">
                <div class="container">
                    <div class="row">
                        <div class="pad-service col-md-4">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="{{ asset('img/jogging-2343558_1280.jpg') }}"  class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Cardio-training</h5>
                                    <p class="card-text ">Pour vous faire battre le coeur à cent à l'heure, stimuler votre rythme cardiaque et renforcer tout votre système cardio-vasculaire. Selon votre rythme cardiaque propre, les exercices que vous ferez seront plus ou moins intenses..</p>
                                </div>
                            </div>
                        </div>
                        <div class="pad-service col-md-4">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="{{ asset('img/sport-2250970_1280.jpg') }}" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Tonification musculaire</h5>
                                    <p class="card-text">La tonification musculaire est une pratique sportive destinée à augmenter la tonicité d'un muscle, c'est à dire sa résistance et son élasticité.</p>
                                </div>
                            </div>
                        </div>
                        <div class="pad-service col-md-4">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="{{ asset('img/kettle-bell-5434989_1280.jpg') }}" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Cross-training</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="pad-service col-md-4">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="{{ asset('img/arm-workout.jpg') }}" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Prise de masse</h5>
                                    <p class="card-text">This.</p>
                                </div>
                            </div>
                        </div>
                        <div class="pad-service col-md-4">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="{{ asset('img/kettlebell-3290296_1280.jpg') }}" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">Prépartion physique</h5>
                                    <p class="card-text"> La préparation physique a pour objectif de servir la discipline que vous pratiquez. Elle permettra de développer vos qualités physiques et ainsi d’optimiser vos performances.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="pad-service col-md-4">
                            <div class="scale-img card bg-dark text-white border border-success">
                                <img src="{{ asset('img/training-828732_1280.jpg') }}" class="card-img" alt="...">
                                <div class="card-img-overlay overflow-auto">
                                    <h5 class="card-title">TRX</h5>
                                    <p class="card-text">Développé par un commando de l’US Navy, le TRX ou Suspension Training permet par un jeu de sangles d’utiliser le poids de son propre corps comme un partenaire d’entraînement.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    + de cours
                </div> 
            </a>      
        </section>

        {# ----------------
        ----- CONTACT -----
        ---------------- #}

        <section id="contact" class="headband container-fluid">
             <div class="col-md-12 text-center bg-success text-white pb-2">
                <div class="size-headband2">
                    <h4 class="pb-2 pt-3">contact</h4>
                    <div class="divider"></div>
                    <p class="p-3"> diplômés et ayant une carte professionnelle de coach sportif. formation PSC1 (Prévention et secours civique niveau 1)</p>
                </div>
            </div> 
        </section>
        <section id="contact-image">
            <div class="bg-contact3">
		        <div class="container-contact3">
			        <div class="wrap-contact3">
                        {{ form_start(contactForm) }}
					        <span class="contact3-form-title">
						        Contact Us
					        </span>
                         {{ form_end(contactForm) }}
			        </div>
		        </div>
	        </div>
        </section>
        <a href="javascript:showAxeptioButton()">
            Cliquez-ici pour modifier vos préférences en matière de cookies
        </a>

         {% block javascripts %}
        <script>
            window.axeptioSettings = {
                clientId: "5fbf6a4a9dfee3361cc0bf84",
                cookiesVersion: "https://127001:8000-base",
            };
            (function(d, s) {
                var t = d.getElementsByTagName(s)[0], e = d.createElement(s);
                e.async = true; e.src = "//static.axept.io/sdk.js";
                t.parentNode.insertBefore(e, t);
                })(document, "script");
        </script>
        {% endblock %}

    {% endblock %}

