{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <div class="container pt-5">
        <div class="row">
            <div class="col-sm-12 col-md-4 offset-md-4 py-5">
                <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
            
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.name) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    <div class="row">
                        <div class="col-1"> <span> 
                            {{ form_row(registrationForm.agreeTerms) }}</span>
                        </div>
                        <div class="col-11">
                            <span>J’autorise ce site à conserver mes données transmises via ce formulaire. Aucune exploitation commerciale ne sera faite des données conservées. Voir notre <a class="text-decoration-none text-danger" href="{{ path('politique-confidentialite') }}">politique de confidentialité</a></span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-dark mb-3">Enregistrer</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
