{% extends 'baseUser.html.twig' %}

{% block title %}Mes réservations{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2 m-auto">
                <h1 class="pt-5 mb-5 text-center">Mes réservations</h1>
                <div class="row">
                    <div class="col-3 col-md-2 text-center">
                        <h4>Jour</h4>
                    </div>
                    <div class="col-3 col-md-2 text-center">
                        <h4>Heure</h4>
                    </div>
                    <div class="col-3 col-md-3 text-center">
                        <h4>Activités</h4>
                    </div>
                </div>
                <hr>

                {% for booking in app.user.bookings %}
                    <div class="row">
                        <div class="col-3 col-md-2 text-center">
                            <p>{{ booking.beginAt ? booking.beginAt|date('d-m-Y') : '' }}</p>
                        </div>
                        <div class="col-3 col-md-2 text-center">
                            <p>{{ booking.beginAt ? booking.beginAt|date('H:i') : '' }}</p>
                        </div>
                        <div class="col-3 col-md-3 text-center">
                            <p>{{ booking.title }}</p>
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <a class="linkAdmin" href="{{ path('user_booking_edit', {'id': booking.id}) }}">
                                <button type="button" class="btn btn-success">
                                    Modifier
                                </button>
                            </a>
                            <a href="{{ path('user_booking_delete', {'id': booking.id}) }}" onclick="return confirm('Voulez-vous supprimer ce rendez-vous?')">
                                <button type="button" class="btn btn-success">
                                    Supprimer
                                </button>
                            </a>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <a class="linkModal" href="{{ path('user_booking_new') }}"><button type="button" class="btn btn-success">Ajouter un rendez-vous</button></a>
            </div>
        </div>
    </div>
{% endblock %}
