{% extends 'baseUser.html.twig' %}

{% block title %}Reservation{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <h2>Vos Réservations</h2>
        </div>
        <div class="row">
            <div class="col-4">
                <table class="table">
                <thead>
                    <tr>
                        <th scope ="col">Jour</th>
                        <th scope ="col">Heure</th>
                        <th scope ="col">Activité</th>
                        <th scope ="col">Action</th>
                    </tr>
                </thead>
               <tbody>
                {% for test in app.user.bookings %}
                   <tr>
                       <td>{{ test.beginAt|date('Y-m-d') }}</td>
                       <td>{{ test.TimeAt|date('H:i:s') }}</td>
                       <td>{{ test.title }}</td>
                       <td><a href="{{ path('user_booking_edit', {'id': test.id}) }}">Modifier</a></td>
                       <td><a href="{{ path('user_booking_delete', {'id': test.id}) }}">Supprimer</a></td>
                       {% endfor %}
                   </tr>
               </tbody>
           </table> 
         <a href="{{ path('user_booking_new') }}">Ajouter une réservation</a>
        
        
            </div>
        </div>
    </div>
{% endblock %}
