{% extends 'baseAdmin.html.twig' %}

{% block title %}Les réservations{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8 offset-2 m-auto">

                <h1 class="py-4 text-center">Les réservations</h1>
                <div class="row">
                    <div class="col-3 col-md-1 text-center">
                        <h4>Id</h4>
                    </div>
                    <div class="col-3 col-md-2 text-center">
                        <h4>Jour</h4>
                    </div>
                    <div class="col-3 col-md-2 text-center">
                        <h4>Heure</h4>
                    </div>
                    <div class="col-3 col-md-3 text-center">
                        <h4>Activités</h4>
                    </div>
                </div>
                <hr>

                {% for booking in bookings %}
                    <div class="row">
                        <div class="col-3 col-md-1 text-center">
                            <p>{{ booking.id }}</p>
                        </div>
                        <div class="col-3 col-md-2 text-center">
                            <p>{{ booking.beginAt ? booking.beginAt|date('Y-m-d') : '' }}</p>
                        </div>
                        <div class="col-3 col-md-2 text-center">
                            <p>{{ booking.beginAt ? booking.beginAt|date('H:i') : '' }}</p>
                        </div>
                        <div class="col-3 col-md-3 text-center">
                            <p>{{ booking.title }}</p>
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <a class="linkAdmin" href="{{ path('admin_booking_update', {'id': booking.id}) }}">
                                <button type="button" class="btn btn-success">
                                    Modifier
                                </button>
                            </a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal">
                                Supprimer
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Attention</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Vous allez supprimer la réservation</p>
                                            <p>Voulez-vous continuer ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Fermer</button>
                                            <a class="linkModal" href="{{ path('admin_booking_delete', {'id': booking.id}) }}"><button type="button" class="btn btn-success">Supprimer</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
                <a class="linkModal" href="{{ path('admin_booking_new') }}"><button type="button" class="btn btn-success">Ajouter un rendez-vous</button></a>
            </div>
        </div>
    </div>
{% endblock %}
