{% extends 'baseAdmin.html.twig' %}

{% block title %}Les réservations{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2">

                <h1 class="pt-5 text-center">Les réservations</h1>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Jour</th>
                            <th>Heure</th>
                            <th>Activités</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for booking in bookings %}
                        <tr>
                            <td>{{ booking.id }}</td>
                            <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                            <td>{{ booking.timeAt ? booking.timeAt|date('H:i:s') : '' }}</td>
                            <td>{{ booking.title }}</td>
                            <td>
                                <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                                <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a href="{{ path('booking_new') }}">Ajouter un rendez-vous</a>
            </div>
        </div>
    </div>
{% endblock %}
