{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2 m-auto">

                <h1 class="py-4 text-center">Liste des utilisateurs</h1>

                 <div class="row">
                    <div class="col-4 col-md-2 text-center">
                        <h4>Prénom</h4>
                    </div>
                    <div class="col-4 col-md-4 text-center">
                        <h4>Email</h4>
                    </div>
                    <div class="col-4 col-md-2 text-center">
                        <h4>Rôle</h4>
                    </div>
                </div>
                <hr>

                {% for user in users %} 
                    <div class="row">
                        <div class="col-4 col-md-2 text-center">
                            <p>{{ user.name }}</p>
                        </div>
                        <div class="col-4 col-md-4 text-center">
                            <p class="overflow-auto">{{ user.email }}</p>
                        </div>
                        <div class="col-4 col-md-2 text-center">
                            <p>{{ user.roles|join(' + ')|lower}}</p>
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <a class="linkAdmin" href="{{ path('admin_user_update', {'id':user.id}) }}">
                                <button type="button" class="btn btn-success">
                                    Modifier
                                </button>
                            </a>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#Modal">
                                Supprimer
                            </button>
                            <!-- Modal -->
                            <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="ModalLabel">Attention</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Vous allez supprimer l'utilisateur</p>
                                            <p>Voulez-vous continuer ?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-dismiss="modal">Fermer</button>
                                             <a class="linkModal" href="{{ path('admin_user_delete', {'id': user.id}) }}"><button type="button" class="btn btn-success">Supprimer</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr>
                {% endfor %}    
            </div>
        </div>
    </div>
{% endblock %}
