{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-2 m-auto">

                <h1 class="py-4 text-center">Liste des utilisateurs</h1>

                 <div class="row">
                    <div class="col-4 col-md-2 text-center">
                        <h4>Prénom</h4>
                    </div>
                    <div class="col-4 col-md-4 text-center">
                        <h4>Email</h4>
                    </div>
                    <div class="col-4 col-md-2 text-center">
                        <h4>Rôle</h4>
                    </div>
                </div>
                <hr>

                {% for user in users %} 
                    <div class="row">
                        <div class="col-4 col-md-2 text-center">
                            <p>{{ user.name }}</p>
                        </div>
                        <div class="col-4 col-md-4 text-center">
                            <p class="overflow-auto">{{ user.email }}</p>
                        </div>
                        <div class="col-4 col-md-2 text-center">
                            <p>{{ user.roles|join(' + ')|lower}}</p>
                        </div>
                        <div class="col-12 col-md-4 text-center">
                            <a class="linkAdmin" href="{{ path('admin_user_update', {'id':user.id}) }}">
                                <button type="button" class="btn btn-success">
                                    Modifier
                                </button>
                            </a>
                            <a href="{{ path('admin_user_delete', {'id': user.id}) }}" onclick="return confirm('Voulez-vous supprimer l\'utilisateur?')">
                                <button type="button" class="btn btn-success">
                                    Supprimer
                                </button>
                            </a>
                        </div>
                    </div>
                    <hr>
                {% endfor %}    
            </div>
        </div>
    </div>
{% endblock %}
